<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>College Management System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>Controller.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDashboardServlet</display-name>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <servlet-class>Controller.StudentDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <url-pattern>/StudentDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalDetails</display-name>
    <servlet-name>PersonalDetails</servlet-name>
    <servlet-class>Controller.PersonalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDetails</servlet-name>
    <url-pattern>/PersonalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personaldetails</display-name>
    <servlet-name>Personaldetails</servlet-name>
    <servlet-class>Controller.Personaldetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personaldetails</servlet-name>
    <url-pattern>/Personaldetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEdit</display-name>
    <servlet-name>StudentEdit</servlet-name>
    <servlet-class>StudentEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEdit</servlet-name>
    <url-pattern>/StudentEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditServlet</display-name>
    <servlet-name>StudentEditServlet</servlet-name>
    <servlet-class>Controller.StudentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditServlet</servlet-name>
    <url-pattern>/StudentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDoctor</display-name>
    <servlet-name>deleteDoctor</servlet-name>
    <servlet-class>Controller.deleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDoctor</servlet-name>
    <url-pattern>/deleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletestudent</display-name>
    <servlet-name>Deletestudent</servlet-name>
    <servlet-class>Controller.Deletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletestudent</servlet-name>
    <url-pattern>/Deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>Controller.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
</web-app>